<section class="flex flex-col h-screen md:flex-row">
  <a href="/centrofit" class="flex items-center justify-center grow img-a">
    <img
      class="img_imgDefault h-full md:opacity-100 opacity-0 w-full object-cover absolute z-[-1] blur-[2px] brightness-[0.3] contrast-[1.11]"
      src="/centrofit_dsk.avif"
      alt="centrofit_default"
    />
    <img
      class="img_imgHover h-full w-full opacity-100 md:opacity-0 object-cover absolute z-[-1] blur-[4px]"
      src="/centrofit_dsk_color.avif"
      alt="centrofit_color"
    />

    <img
      class="md:h-500 h-96"
      src="/centrofit_logo.avif"
      alt="centrofit_logo"
    />
  </a>
  <a
    href="/oneride"
    class="flex items-center justify-center grow relative img-a"
  >
    <img
      class="img_imgDefault h-full md:opacity-100 opacity-0 w-full object-cover absolute z-[-1] blur-[2px]"
      src="/oneride_dsk.avif"
      alt="oneride_default"
    />
    <img
      class="img_imgHover h-full w-full opacity-100 md:opacity-0 object-cover absolute z-[-1] blur-[4px]"
      src="/oneride_dsk_color.avif"
      alt="oneride_color"
    />

    <img
      class="md:h-500 h-96 z-1"
      src="/oneride_logo.avif"
      alt="oneride_logo"
    />
  </a>
</section>

<style>
  .img-a {
    .img_imgHover {
      transition: all 0.3s ease;
    }

    &:hover {
      .img_imgHover {
        opacity: 1;
      }
    }
  }
</style>
